.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Mitr', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Mitr', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Mitr', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Mitr', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Baloo 2', display;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #81ec25 !important;
}
.bg-info {
  background-color: #2b7c2d !important;
}
.bg-warning {
  background-color: #e4f90d !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff0000 !important;
  border-color: #ff0000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #a80000 !important;
  border-color: #a80000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #a80000 !important;
  border-color: #a80000 !important;
}
.btn-info,
.btn-info:active {
  background-color: #2b7c2d !important;
  border-color: #2b7c2d !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #153c16 !important;
  border-color: #153c16 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #153c16 !important;
  border-color: #153c16 !important;
}
.btn-success,
.btn-success:active {
  background-color: #81ec25 !important;
  border-color: #81ec25 !important;
  color: #081101 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #57ab0f !important;
  border-color: #57ab0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #081101 !important;
  background-color: #57ab0f !important;
  border-color: #57ab0f !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #e4f90d !important;
  border-color: #e4f90d !important;
  color: #060700 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #9cab04 !important;
  border-color: #9cab04 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #060700 !important;
  background-color: #9cab04 !important;
  border-color: #9cab04 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #6592e6;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: #2260d2 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff0000;
  color: #ff0000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #a80000 !important;
  background-color: transparent!important;
  border-color: #a80000 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff0000 !important;
  border-color: #ff0000 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #2b7c2d;
  color: #2b7c2d;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #153c16 !important;
  background-color: transparent!important;
  border-color: #153c16 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #2b7c2d !important;
  border-color: #2b7c2d !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #81ec25;
  color: #81ec25;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #57ab0f !important;
  background-color: transparent!important;
  border-color: #57ab0f !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #081101 !important;
  background-color: #81ec25 !important;
  border-color: #81ec25 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #e4f90d;
  color: #e4f90d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #9cab04 !important;
  background-color: transparent!important;
  border-color: #9cab04 !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #060700 !important;
  background-color: #e4f90d !important;
  border-color: #e4f90d !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff0000 !important;
}
.text-success {
  color: #81ec25 !important;
}
.text-info {
  color: #2b7c2d !important;
}
.text-warning {
  color: #e4f90d !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #990000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #509d0e !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #113012 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #8f9c04 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #2b7c2d;
}
.alert-warning {
  background-color: #e4f90d;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #edfce1;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #5fc862;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fafed4;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Mitr', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Mitr', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff0000 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-VkZ2qHdVCt {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #e43f3f;
  background: linear-gradient(90deg, #e43f3f, #e43f3f);
}
.cid-VkZ2qHdVCt .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-VkZ2qHdVCt p {
  display: inline;
  font-size: 39px;
  color: #FFD100;
}
.cid-VkZ2qHdVCt .marquee-rtl {
  padding-right: 1%;
  padding-left: 1%;
}
.cid-VkZ2qHdVCt .media-container-row .mbr-text {
  color: #ffffff;
  text-align: center;
}
.cid-tJmHwSpkhf {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #81ec25;
}
.cid-tJmHwSpkhf .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJmHwSpkhf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJmHwSpkhf .card-wrapper {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tJmHwSpkhf .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tJmHwSpkhf .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tJmHwSpkhf .card-wrapper {
    padding: 4rem;
  }
}
.cid-tJmHwSpkhf .mbr-text,
.cid-tJmHwSpkhf .mbr-section-btn {
  color: #000000;
}
.cid-tJlvqvDZaY {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #81ec25;
}
.cid-tJlvqvDZaY .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJlvqvDZaY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJlvqvDZaY .mbr-section-title,
.cid-tJlvqvDZaY .mbr-text,
.cid-tJlvqvDZaY .mbr-section-btn {
  text-align: center;
}
.cid-tJlvqvDZaY .video-wrapper {
  margin: auto;
}
.cid-tJlvqvDZaY .video-wrapper iframe {
  width: 100%;
}
.cid-tJlvqvDZaY .mbr-text,
.cid-tJlvqvDZaY .mbr-section-btn {
  color: #000000;
}
.cid-tJlvqvDZaY .mbr-section-title {
  color: #232323;
}
.cid-tJmbp8hQfC {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #81ec25;
}
.cid-OSI9TYVb0L .row,
.cid-OSI9TYVb0L .rowUp {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: #81ec25;
}
.cid-OSI9TYVb0L .row {
  height: 9vh;
}
.cid-OSI9TYVb0L .rowUp {
  height: 21vh;
}
.cid-OSI9TYVb0L .svg-separator {
  display: block;
  background: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  -webkit-transform: translateY(-100%) translateY(2px);
  transform: translateY(-100%) translateY(2px);
  width: 100%;
}
.cid-OSI9TYVb0L .svg-separator.bottom {
  top: auto;
  bottom: 0;
}
.cid-OSI9TYVb0L .sep1 {
  transform: translateY(-100%) translateY(1.6px) scale(1, 0.8);
  transform-origin: bottom;
}
.cid-OSI9TYVb0L .sep2 {
  transform: translateY(0%) translateY(-1.6px) scale(-1, -0.8);
  transform-origin: bottom;
}
.cid-OSI9TYVb0L .red,
.cid-OSI9TYVb0L .green2,
.cid-OSI9TYVb0L .stupid-blue,
.cid-OSI9TYVb0L .v,
.cid-OSI9TYVb0L .light-grey,
.cid-OSI9TYVb0L .light-grey2,
.cid-OSI9TYVb0L .dark-blue,
.cid-OSI9TYVb0L .grey-blue,
.cid-OSI9TYVb0L .white-trees,
.cid-OSI9TYVb0L .zig-zag {
  background-color: #000000;
  fill: #000000;
}
.cid-OSI9TYVb0L .circle-line {
  background-color: #81ec25;
  fill: #81ec25;
}
.cid-OSI9TYVb0L .circle-line-down {
  background-color: #000000;
  fill: #000000;
}
.cid-OSI9TYVb0L .firstColor {
  fill: #000000;
}
.cid-OSI9TYVb0L .secondColor {
  fill: #2b7c2d;
}
.cid-tJmlbP3Wnp {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-tJmlbP3Wnp .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJmlbP3Wnp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJmlbP3Wnp .mbr-section-title {
  color: #ffffff;
}
.cid-tJmlbP3Wnp .mbr-section-subtitle {
  color: #ffffff;
}
.cid-55tjL3CHp3 {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-55tjL3CHp3 .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-55tjL3CHp3 .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-55tjL3CHp3 .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-55tjL3CHp3 .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-55tjL3CHp3 .row > .row {
  display: block;
}
.cid-55tjL3CHp3 .mbr-gallery-item {
  width: 100%;
}
.cid-55tjL3CHp3 .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #554346;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(to left, #554346, #45505b) !important;
}
.cid-55tjL3CHp3 .mbr-gallery-item > div {
  position: relative;
}
.cid-55tjL3CHp3 .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-55tjL3CHp3 .mbr-gallery-item > div:hover:before {
  opacity: 0.7 !important;
}
.cid-55tjL3CHp3 .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-55tjL3CHp3 .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #554346 !important;
  opacity: 0.7;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
  background: linear-gradient(to left, #554346, #45505b) !important;
}
.cid-tJmCBppb2h {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
.cid-tJmpmnhO2m .row,
.cid-tJmpmnhO2m .rowUp {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: #000000;
}
.cid-tJmpmnhO2m .row {
  height: 9vh;
}
.cid-tJmpmnhO2m .rowUp {
  height: -42vh;
}
.cid-tJmpmnhO2m .svg-separator {
  display: block;
  background: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  -webkit-transform: translateY(-100%) translateY(2px);
  transform: translateY(-100%) translateY(2px);
  width: 100%;
}
.cid-tJmpmnhO2m .svg-separator.bottom {
  top: auto;
  bottom: 0;
}
.cid-tJmpmnhO2m .sep1 {
  transform: translateY(-100%) translateY(-1.4px) scale(1, -0.7);
  transform-origin: bottom;
}
.cid-tJmpmnhO2m .sep2 {
  transform: translateY(0%) translateY(1.4px) scale(-1, 0.7);
  transform-origin: bottom;
}
.cid-tJmpmnhO2m .red,
.cid-tJmpmnhO2m .green2,
.cid-tJmpmnhO2m .stupid-blue,
.cid-tJmpmnhO2m .v,
.cid-tJmpmnhO2m .light-grey,
.cid-tJmpmnhO2m .light-grey2,
.cid-tJmpmnhO2m .dark-blue,
.cid-tJmpmnhO2m .grey-blue,
.cid-tJmpmnhO2m .white-trees,
.cid-tJmpmnhO2m .zig-zag {
  background-color: #81ec25;
  fill: #000000;
}
.cid-tJmpmnhO2m .circle-line {
  background-color: #000000;
  fill: #81ec25;
}
.cid-tJmpmnhO2m .circle-line-down {
  background-color: #81ec25;
  fill: #81ec25;
}
.cid-tJmpmnhO2m .firstColor {
  fill: #81ec25;
}
.cid-tJmpmnhO2m .secondColor {
  fill: #2b7c2d;
}
.cid-tJmqTU7R5I {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-color: #81ec25;
}
.cid-tJmqTU7R5I .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJmqTU7R5I .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJmqTU7R5I .item {
  padding-bottom: 2rem;
}
.cid-tJmqTU7R5I .item-wrapper {
  position: relative;
}
.cid-tJmqTU7R5I .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-tJmqTU7R5I .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-tJmqTU7R5I .carousel-control,
.cid-tJmqTU7R5I .close {
  background: #1b1b1b;
}
.cid-tJmqTU7R5I .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-tJmqTU7R5I .carousel-control-prev span {
  margin-right: 5px;
}
.cid-tJmqTU7R5I .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-tJmqTU7R5I .carousel-control-next span {
  margin-left: 5px;
}
.cid-tJmqTU7R5I .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-tJmqTU7R5I .close::before {
  content: '\e91a';
}
.cid-tJmqTU7R5I .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-tJmqTU7R5I .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tJmqTU7R5I .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tJmqTU7R5I .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tJmqTU7R5I .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tJmqTU7R5I .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-tJmqTU7R5I .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tJmqTU7R5I .carousel-indicators li.active,
.cid-tJmqTU7R5I .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tJmqTU7R5I .carousel-indicators li::after,
.cid-tJmqTU7R5I .carousel-indicators li::before {
  content: none;
}
.cid-tJmqTU7R5I .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tJmqTU7R5I .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-tJmqTU7R5I .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tJmqTU7R5I .carousel-indicators {
    display: none;
  }
}
.cid-tJmqTU7R5I .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tJmqTU7R5I .carousel-inner > .active {
  display: block;
}
.cid-tJmqTU7R5I .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tJmqTU7R5I .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tJmqTU7R5I .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-tJmqTU7R5I .carousel-control,
  .cid-tJmqTU7R5I .carousel-indicators,
  .cid-tJmqTU7R5I .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-tJmqTU7R5I .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-tJmqTU7R5I .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tJmqTU7R5I .carousel-indicators .active,
.cid-tJmqTU7R5I .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-tJmqTU7R5I .carousel-indicators .active {
  background: #fff;
}
.cid-tJmqTU7R5I .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-tJmqTU7R5I .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-tJmqTU7R5I .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tJmqTU7R5I .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-tJmqTU7R5I .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-tJmqTU7R5I .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-tJmqTU7R5I .carousel {
  width: 100%;
}
.cid-tJmqTU7R5I .modal-backdrop.in {
  opacity: 0.8;
}
.cid-tJmqTU7R5I .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-tJmqTU7R5I .modal.fade .modal-dialog,
.cid-tJmqTU7R5I .modal.in .modal-dialog {
  transform: none;
}
.cid-tJmqTU7R5I .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-tJmqTU7R5I H6 {
  text-align: left;
  color: #000000;
}
.cid-tJmqTU7R5I H3 {
  color: #000000;
}
.cid-tJmqTU7R5I H4 {
  color: #ffffff;
}
.cid-tJmJosu6xr {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tJmCfDWkj2 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tJmCfDWkj2 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJmCfDWkj2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJmFivWSLE {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tJmFivWSLE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJmFivWSLE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tJmFivWSLE .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tJmFivWSLE img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tJmFivWSLE .text-wrapper {
    padding: 2rem;
  }
}
.cid-tJmMM4ORdC {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tJmMM4ORdC .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJmMM4ORdC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJmMM4ORdC .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tJmMM4ORdC .image-wrap img {
    display: block;
    margin: auto;
    width: 40%;
  }
}
.cid-tJmNTwegVY {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tJmNTwegVY .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJmNTwegVY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJmR3DLenB {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tJmQAUAjIC {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tJmUaLcOH6 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/design-sem-nome.png");
}
.cid-tJmUaLcOH6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJmUaLcOH6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJmUaLcOH6 .image-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 1rem;
  overflow: hidden;
}
.cid-tJmUaLcOH6 .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cid-tJmUaLcOH6 .mbr-section-title {
  color: #ffffff;
}
.cid-tJmUaLcOH6 .mbr-text {
  color: #ffffff;
}
.cid-tJmUaLcOH6 .name {
  color: #ffffff;
}
.cid-tJmUaLcOH6 .position {
  color: #ffffff;
}
.cid-tJmXjmPI1t {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tJmXjmPI1t .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJmXjmPI1t .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tJmXjmPI1t .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tJmXjmPI1t img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tJmXjmPI1t .text-wrapper {
    padding: 2rem;
  }
}
.cid-tJmXjmPI1t .mbr-section-title {
  color: #2b7c2d;
}
.cid-tJn06EHUuA {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tJn06EHUuA .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJn06EHUuA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJn06EHUuA .mbr-section-subtitle {
  color: #2b7c2d;
}
.cid-tJn0N7RrKX {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tJn0N7RrKX blockquote {
  border-color: #2b7c2d;
  border-radius: 4px;
  background-color: #ecffdb;
}
.cid-tJn4kSI5Hq {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tJn4kSI5Hq .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJn4kSI5Hq .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJn4kSI5Hq .mbr-section-title {
  text-align: left;
}
.cid-tJn4kSI5Hq .mbr-section-subtitle {
  text-align: center;
}
.cid-tJn8ZnK2bi {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tJn8bzlTAs {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tJn8bzlTAs .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJn8bzlTAs .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tJn8bzlTAs .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tJn8bzlTAs .row {
  flex-direction: row-reverse;
}
.cid-tJn8bzlTAs img {
  width: 100%;
}
.cid-tJnc3uREwS {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tJnc3uREwS .mbr-section-subtitle {
  text-align: center;
}
.cid-tJncndrSsU {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tJncndrSsU .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJncndrSsU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJncndrSsU .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tJncndrSsU .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tJncndrSsU .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #6592e6;
}
.cid-tJncndrSsU .panel-body,
.cid-tJncndrSsU .card-header {
  padding: 1rem 0;
}
.cid-tJncndrSsU .panel-title-edit {
  color: #000000;
}
.cid-tJnfwxiWyY {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-tJnfwxiWyY .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJnfwxiWyY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJnfwxiWyY .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tJnfwxiWyY .image-wrap img {
    display: block;
    margin: auto;
    width: 80%;
  }
}
.cid-tJneVI8JMQ {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  overflow: hidden;
}
